* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

.topo{
    background-image: linear-gradient(to top, #004aac 0%, #1d1d1d 100%);
    text-align: center;
    margin-bottom: -10px;
    margin-top: -30px;
    width: 100%;
}

.logo{
    width: 15%;
    margin-top: 15px;
}

.tela-do-jogo {
    box-shadow: inset 0 0 1em black;
    background: linear-gradient(#87ceeb, #e0f6ff);
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.rodape{
    background-image: linear-gradient(to top, #004aac 0%, #1d1d1d 100%);
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 4em;
    margin-top: -50px;
}

.vaca {
    position: absolute;
    bottom: 0;
    width: 120px;
    animation: vaca-animacao 1.5s infinite linear;
}

.dino {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.pulo {
    animation: pulo 500ms ease-out;
}

.nuvem {
    width: 350px;
    position: absolute;
    animation: nuvem-animacao 10s infinite linear;
}

@keyframes vaca-animacao {
    from {
        right: -80px;
    }to{
        right: 100%;
    }
}

@keyframes pulo {
    0% {
        bottom: 0;
    }40%{

        bottom: 150px;
    }50%{
        bottom: 150px;
    }60%{
        bottom: 150px;
    }100%{
        bottom: 0;
    }
}

@keyframes nuvem-animacao {
    from {
        right: -350px;
    }to{
        right: 100%;
    }
}
