* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela-do-jogo {
    background: linear-gradient(#87ceeb, #e0f6ff);
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cerca {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: cerca-animacao 1.5s infinite linear;
}

.dino {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.pulo {
    animation: pulo 500ms ease-out;
}

.nuvem {
    width: 350px;
    position: absolute;
    animation: nuvem-animacao 10s infinite linear;
}

@keyframes cerca-animacao {
    from {
        right: -80px;
    }to{
        right: 100%;
    }
}

@keyframes pulo {
    0% {
        bottom: 0;
    }40%{
        bottom: 150px;
    }50%{
        bottom: 150px;
    }60%{
        bottom: 150px;
    }100%{
        bottom: 0;
    }
}

@keyframes nuvem-animacao {
    from {
        right: -350px;
    }to{
        right: 100%;
    }
}
